<mat-drawer-container class="example-container">
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <div class="img">
      <img src="assets/logo.png" alt="Company logo" class="logo">
    </div>



    <mat-list role="list">
      <mat-list-item role="listitem">
        <a routerLink="/feature/dashboard" class="link"><mat-icon>home</mat-icon> Home</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a routerLink="/feature/profile" class="link">
          <mat-icon>account_circle</mat-icon>Profile</a>
      </mat-list-item>
    </mat-list>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</mat-drawer-container>
