<mat-drawer-container class="example-container">
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <div class="img">
      <img src="assets/logo.png" alt="Company logo" class="logo" />
    </div>

    <mat-list role="list">
      <mat-list-item role="listitem">
        <a routerLink="/feature/dashboard" class="link">
          <mat-icon>home</mat-icon> <span class="text">Home</span></a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a routerLink="/feature/profile" class="link"
          > <mat-icon>account_circle</mat-icon>
          <span class="text">Profile</span></a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a routerLink="/feature/datatable" class="link">
          <mat-icon>folder</mat-icon>
          <span class="text">Table1</span></a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a routerLink="/feature/datatable" class="link">
          <mat-icon>folder</mat-icon>
          <span class="text">Table2</span></a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a routerLink="/feature/datatable" class="link">
          <mat-icon>folder</mat-icon>
          <span class="text">Table3</span></a>
      </mat-list-item>


    </mat-list>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</mat-drawer-container>
