<div class="container">
  <div class="panel-body inf-content">
    <div class="row">

      <div class="col1">
        <img
          alt="user photo"
          class="img-circle"
          src="assets/avatar7.png"
        />
      </div>

      <div class="col2">
        <h2><strong>Information</strong></h2>
        <br />

          <table>
            <tbody>
              <tr>
                <td class="text">
                  <mat-icon>account_circle</mat-icon>
                  <span class="leftside">First Name</span>
                </td>
                <td>
                  {{ userData.fname }}
                </td>
              </tr>
              <tr>
                <td class="text">
                  <mat-icon>person</mat-icon>
                  <span class="leftside">Last Name</span>
                </td>
                <td>
                  {{ userData.lname }}
                </td>
              </tr>
              <tr>
                <td class="text">
                  <mat-icon>mail</mat-icon>
                  <span class="leftside">Email Id</span>
                </td>
                <td>
                  {{ userData.email }}
                </td>
              </tr>
              <tr>
                <td class="text">
                  <mat-icon>date_range</mat-icon>
                  <span class="leftside">Date of birth</span>
                </td>
                <td>
                  {{ userData.dob | date }}
                </td>
              </tr>
              <tr>
                <td class="text">
                  <mat-icon>male</mat-icon>
                  <span class="leftside">Gender</span>
                </td>
                <td>
                  {{ userData.gender }}
                </td>
              </tr>
              <tr>
                <td class="text">
                  <mat-icon>key</mat-icon>
                  <span class="leftside">Password</span>
                </td>
                <td>
                  {{ userData.password }}
                </td>
              </tr>
            </tbody>
          </table>

      </div>
    </div>

    <div class="btn" >
      <button mat-raised-button color="accent" type="button" (click)="editdata(userData)">Edit</button>
    </div>
  </div>
</div>
