.card{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #8e2de2, #4a00e0);
}

.example-card{
  margin:200px auto;
  width: 400px;
  height: 300px;
  background-color:#ffffff;
}


.title{
  text-align: center;
  color: black;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 30px;
}
.example-full-width{
  width: 100%;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.link{
  text-decoration: none;
}
.divider{
  border-top-color: black ;
}
.google{
  text-align: center;
}
