.card {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #8e2de2, #4a00e0);
}

.example-card {
  margin: 200px auto;
  width: 400px;
  height: 400px;
  background-color: #ffffff;
}

.title {
  text-align: center;
  color: black;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 30px;
}
.example-full-width {
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tabs{
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 20px;
  height: 20px;
}
.link {
  color: #4a00e0;
  text-decoration: none;
}
.divider {
  margin-bottom: 20px;
  border-top-color: black;
}
.google {
  text-align: center;
}


